@mixin mobile {
    @media screen and (max-width: 868px) {
      @content
    }
  }

  .faq_head p:nth-child(1){
color: #000;
text-align: center;
font-family: "Montserrat Alternates";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 48px */
  }