@mixin mobile {
    @media screen and (max-width: 868px) {
      @content
    }
  }

  .contact_body{
    @include mobile{
      margin-top: 200px;
    }
  }

  .contact_body_div1{
    position: relative;
    top: 500px;
    left: 0;

    @include mobile{
      display: none;
    }
   }

  .contact_body_div2{
    text-align: center;
    padding: 0 25%;
    position: relative;
    top: -500px;

    @include mobile{
      padding: 0 5%;
    }
  }