@mixin mobile {
    @media screen and (max-width: 868px) {
      @content
    }
  }

  .contact_body{
    text-align: center;
    margin-top: 250px;

    @include mobile{
      margin-top: 100px;
    }
  }