// pls use this for mobile
@mixin mobile {
  @media screen and (max-width: 868px) {
  }
}

// colors variable
$basewhite: #FCFCFC;
$baseblack: #101720;
$basegreen: #52B954;
$basegreenbg: linear-gradient(117.24deg, rgba(193, 225, 194, 0.69) -23.41%, #005300 95.83%);
$basewhitebg: linear-gradient(180deg, #F6F6F6 0%, #D9D9D9 100%);
