@import "include-media"; // for styling on all screens

$breakpoints: (
  phone: 480px,
  tablet: 768px,
  desktop: 1024px,
  LGDesktop: 1920px,
);

.thirdPart{
    width: 100%;
    height: 550px;
    background-image: url('../../../../assets/images/eggchicken.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; 
    background-repeat: no-repeat;
}
.thirdPartArea{
    // background-color: yellow;
    width: 889px;
    // height: 130px;
    margin: auto;
    //  margin-top: 130px;
    @include media("<=phone"){
        width: 100%;
    }
}
.thirdPartWord{
    color: var(--white-100, #FFF);
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 40px;
    font-weight: 700;
    // line-height: 48px;
    @include media("<=phone") {
        font-size: 20px;
        text-align: center;
      }
}