body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
  }
}
