// pls use this for mobile
@mixin mobile {
  @media screen and (max-width: 868px) {
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(22, 19, 18, 0.65);
  backdrop-filter: blur(8.25px);
  padding: 20px;

  span {
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 14px;

    .logo {
      width: 50px;
      height: 50px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;

    li {
      font-size: 16px;
      color: #fff;
    }
  }
  .active {
    color: #52b954;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
